<div class="wrap">
    <form>
        <div class="login-form" *ngIf="!session; else elseBlock">
            <label>Login</label>
            <input
                required="required"
                name="email_login"
                type="email"
                inputmode="email"
                minlength="10"
                maxlength="50"
                [(ngModel)]="login"
            >
            <label>Password</label>
            <input
                required="required"
                name="password"
                type="password"
                minlength="6"
                maxlength="24"
                [(ngModel)]="password"
            >
            <button (click)="requestApi()">Enter</button>
        </div>
        <ng-template #elseBlock>
            <app-logout></app-logout>
        </ng-template>
    </form>
</div>
