<form>
    <div class="product-form">
        <div class="product-form__row">
            <label>lastName</label>
            <input
                class="product-form__input"
                required="required"
                name="lastName"
                type="text"
                minlength="2"
                maxlength="10"
                placeholder=" "
                pattern="[А-Яа-яЁё]+"
                [(ngModel)]="policyHolder.lastName"
            >
        </div>
        <div class="product-form__row">
            <label>firstName</label>
            <input
                class="product-form__input"
                required="required"
                name="firstName"
                type="text"
                minlength="2"
                maxlength="10"
                placeholder=" "
                pattern="[А-Яа-яЁё]+"
                [(ngModel)]="policyHolder.firstName"
            >
        </div>
        <div class="product-form__row">
            <label>middleName</label>
            <input
                class="product-form__input"
                name="middleName"
                type="text"
                minlength="2"
                maxlength="10"
                [pattern]="rusPatterns"
                mask="S{5}"
                placeholder=" "
                [(ngModel)]="policyHolder.middleName"
            >
        </div>
        <div class="product-form__row">
            <label>date of Birth</label>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input
                    required="required"
                    name="dob"
                    matInput
                    [matDatepicker]="picker"
                    (dateChange)="dateChange($event)"
                    [(ngModel)]="policyHolder.dob"
                >
                <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="product-form__row">
            <label>phone</label>
            <input
                class="product-form__input"
                required="required"
                name="phone"
                type="tel"
                minlength="18"
                maxlength="18"
                prefix="+7"
                mask="(000) 000-0000"
                placeholder=" "
                [(ngModel)]="policyHolder.phone"
            >
        </div>
        <div class="product-form__row">
            <label>email</label>
            <input
                class="product-form__input"
                required="required"
                name="email"
                type="email"
                minlength="2"
                maxlength="10"
                placeholder=" "
                [(ngModel)]="policyHolder.email"
            >
        </div>
        <div class="product-form__row">
            <label>city</label>
            <input
                class="product-form__input"
                required="required"
                name="city"
                type="text"
                minlength="2"
                maxlength="10"
                name="city"
                placeholder=" "
                [(ngModel)]="policyHolder.city"
            >
        </div>
        <div class="product-form__row">
            <button type="button" (click)="saveUserData()">Сохранить данные</button>
        </div>
    </div>
    <div>
        <input type="submit" />
    </div>
</form>
