/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

body { min-height: 100vh; margin: 0; padding: 0 20px; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid black;
}
